[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Lekhonee
GenericName=A Wordpress blog client
Comment=A Wordpress blog client
Icon=lekhonee
TryExec=lekhonee-gnome
Exec=lekhonee-gnome
Terminal=false
Categories=Application;Network;
